body{
  box-sizing: border-box;
}
body{
  background-image: url("https://image.freepik.com/foto-gratis/elegante-tecnica-artesanal-negra-aquarelle_23-2148300751.jpg")
}
header {
  background-color: #434343;
  margin: 0 auto;
}
.header header{
  position: relative;
}
form{
  margin-top: 100px;
}
footer{
  position: relative;
  display: flex;
margin-top: 0%;
  width:100%;
  height:20%;
  background-color: #8DA0BC;
  margin: 0 auto;
  padding-bottom: 0%;

}
.nombres {
  width: 45%;height:auto auto;position: absolute;
  flex-direction::row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  bottom: 0%;
  left:58%;
}
.containerh3{position: relative;}
h3.h3titulos{color: white;font-family: sans-serif;font-weight: bold;position: absolute;right: 50%;z-index: 1}
section{z-index: 0}

.filtro-negro{
  background: rgba(0, 0, 0, 0.5);
}

.uk-navbar{justify-content: space-between;}
.busqueda-contenedor{display: flex;}
.genreTitle{color: white;}
@media screen and (min-width: 600px) {
   body{
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
body {
    font-size: 30px;
  }
}
.uk-text-center{color: LIGHTBLUE; font-style: oblique;position: absolute;left: 40%;top: 12%;font-size: 100%; z-index: 2;font-weight: bolder;}
.uk-card{background-image: url("https://image.freepik.com/foto-gratis/elegante-tecnica-artesanal-negra-aquarelle_23-2148300751.jpg") }
.recomendacioness{color: white;font-weight: 300}
